body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}
#clicker {
    margin-top: 20px;
    background-image: url(assets/js-icon.webp);
    background-size: contain;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.spacer {
    background-color: grey;
    width: 65%;
    height: 1.5px;
}

#shop {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
#shop>button {
    width: 90%;
    padding: 5px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 5px, transparent 5px);
    background-size: 100% 11px;
    color: white;
}
.lockedButton {
    cursor: not-allowed;
    background-color: rgb(44, 0, 0);
}
#openSettings {
    background-image: url(assets/gear.svg);
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}
#settings {
    width: 90%;
    height: 400px;
    background-color: rgb(60, 52, 60);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    border-radius: 10px;
}
#settings>button {
    width: 90%;
    padding: 5px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 5px, transparent 5px);
    background-size: 100% 11px;
    color: white;
}
#close {
    align-self: flex-start !important;
    width: 30px !important;
    height: 30px;
    margin-top: 8px !important;
    margin-left: 8px !important;
    background-image: url(assets/close.svg) !important;
    background-size: 27px 27px !important;
}
